python-dotenv==1.0.0
aiofiles~=23.1.0
tenacity~=8.2.2
httpx~=0.24.1
fastapi~=0.100.0
psycopg2~=2.9.6
SQLAlchemy~=2.0.19
alembic~=1.11.1
mypy~=1.4.1
sqlalchemy-stubs~=0.4
types-aiofiles~=23.1.0.5
sqlalchemy_utils~=0.41.1
